<!-- Custom head -->
{{ if isset site.Params "umamiAnalytics" }}<script async src="https://{{ site.Params.umamiAnalytics.domain }}/umami.js"
  data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"></script>{{ else }}
<script async src="https://analytics.eu.umami.is/script.js"
  data-website-id="{{ site.Params.umamiAnalytics.websiteid }}"></script>{{ end }}

{{ if site.Params.GoogleAnalytics }}<script async
  src="https://www.googletagmanager.com/gtag/js?id={{ site.Params.GoogleAnalytics.key }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());

  gtag('config', '{{ site.Params.GoogleAnalytics.key }}');

</script>{{ end }}
